.more-menu {
  position: absolute;
  bottom: 50px;
  left: 15px;
  width: 320px;
  background: var(--popup-bg);
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.more-menu-items {
  padding: 10px 0; 
}


.more-menu-item {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.more-menu-item:hover {
  background: var(--hover-color);
}

.theme-toggle-button {
  display: flex;
  align-items: center;
  gap: 18px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  color: var(--text-color);
}

.more-menu-item i {
  width: 20px;
  font-size: 21px;
  display: flex;
  justify-content: center;
}

.more-divider {
  height: 7px;
  background: #b2b2b2;
}

.logout-item {
  height: 60px;
  margin: 5px auto;
}

.logout-item span {
  font-weight: 400;
}

.logout-item:hover {
  background: var(--hover-color);
}